# Auth configuration
FIREBASE_SERVICE_KEY_PATH=/app/firebase.json

# Files configuration
ROOT_FILES_PATH=/app/data

# POSTGRES configuration
POSTGRES_USER=<str>
POSTGRES_PASSWORD=<str>
POSTGRES_SERVER=db
POSTGRES_DB=crm
PGDATA=/var/lib/postgresql/data/pgdata

# SQL configuration
DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}/${POSTGRES_DB}

# persistence engine
PERSISTENCE_ENGINE=<SQL | FILE>